name: nk

# You must add 'on:' here
on:
  push:
    branches:
      - main
    paths:
      - '**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run Playlist Generator Script
        run: python nk.py

      - name: Commit and Push Changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          
          git add nk.m3u
          
          # Check if there are changes before committing to avoid errors
          if [[ -n $(git status -s) ]]; then
            git commit -m "Auto-update Playlist"
            git pull --rebase origin main
            git push origin main
          else
            echo "No changes to commit."
          fi
